/*
https://www.color-name.com/hex/0072bc#color-palettes
Analogous colors : #0014BC #00BCA8
Split-Complementary : #BC0014 #BCA800
*/

/*
 *   General CSS
 */

:root {
    --main-color: #0072BC;
    --secondary-color: #00BCA8;
    --complementary-color: #BC4A00;
    --restricted-color: #e04957;
}

#page {
    padding-top: 120px;
    background-image: none !important;
    background-color: #000000;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    color: #0272bc;
}

.nav-link {
    white-space: nowrap;
}

.block {
    border-top: 1px solid #bbb !important;
}
@media(max-width: 979px) {
    .page-header-margin.header-style1 #page {
        margin-top: 0;
    }
}

/*
 * My Competency page CSS
 */

.skillProgressContainer .skillProgress {
    background-color: var(--secondary-color);
}

/*
 * My Competency page Pedago buttons CSS
 */

.userButton a.btn.btn-info {
    background-color: var(--secondary-color);
    width: 230px;
    padding: 4px 15px;
    height: 28px;
    overflow: hidden;
}

/*
 * Home Page CSS
 */

.section li.modtype_forum div.activity-wrapper {
    -webkit-box-shadow: -3px 0 0 0 #980399;
    padding: 10px;
    border: 1px solid #980399 !important;
    border-radius: 10px;
}
.section li.modtype_assign div.activity-wrapper {
    -webkit-box-shadow: -3px 0 0 0 #0272bc;
    padding: 10px;
    border: 1px solid #0272bc !important;
    border-radius: 10px;
}

/*
 * Course CSS
 */


.sectionname {
    background-color: #0272bc !important;
    border-radius: 0;
}

/* Activity */

.instancename {
    border-bottom: 1px solid #acacab !important;
    margin: 1em;
    padding: .1em;
}
div.activity-wrapper {
    padding-left: 1.5% !important;
    border-left: 1px solid #CCC !important;
    border-radius: 10px;
}
.activity img.iconlarge {
    height: 30px;
    width: 30px;
}

.section .activity .contentwithoutlink>a, .section .activity .activityinstance>a {
    text-indent: 0px !important;
}
.section .activity .contentwithoutlink .dimmed .activityicon, .section .activity .activityinstance .dimmed .activityicon {
    opacity: 1 !important;
}

.ishidden .badge-info {
    color: #000;
    background-color: #ffc108;
    border-bottom: 1px solid #ffc108 !important;
    border-radius: 10px;
}
.isrestricted .badge-info {
    color: #FFF;
    background-color: var(--restricted-color);
    border-bottom: 1px solid var(--restricted-color) !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.isrestricted strong {
    border-bottom: 1px solid var(--restricted-color) !important;
}