
.courses .coursebox {
    background-color: #f0f0f0 !important;
    padding: 4px;
    border-radius: 12px;
}
.breadcrumb ul i, .breadcrumb li.lastli span {
    color: #0272bc;
    text-decoration: none;
}
::selection {
    color: #000;
    background-color: #5cc0de !important;
}