
.courses .coursebox {
    background-color: #f0f0f0 !important;
    padding: 4px;
    border-radius: 12px;
}
.breadcrumb ul i, .breadcrumb li.lastli span {
    color: #0272bc;
    text-decoration: none;
}
::selection {
    color: #000;
    background-color: #5cc0de !important;
}
#adaptable-page-header-wrapper #main-navbar li .action-menu-trigger a:hover {
    color: #5cc0de;
}
#adaptable-page-header-wrapper #main-navbar li a:hover {
    background-color: #5cc0de;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    color: #0272bc;
}
.nav-link {
    /* border: 1px solid black;
	    width: 70px;
	    overflow: hidden;*/
    white-space: nowrap;
}
.block {
    border-top: 1px solid #bbb !important;
}
.sectionname {
    background-color: #0272bc !important;
    border-radius: 0;
}
.section .activity .contentwithoutlink>a, .section .activity .activityinstance>a {
    text-indent: 0px !important;
}
.section .activity .contentwithoutlink .dimmed .activityicon, .section .activity .activityinstance .dimmed .activityicon {
    opacity: 1 !important;
}
.courses .coursebox {
    background-color: #f0f0f0 !important;
    padding: 4px;
    border-radius: 12px;
}
.breadcrumb ul i, .breadcrumb li.lastli span {
    color: #0272bc;
    text-decoration: none;
}
::selection {
    color: #000;
    background-color: #5cc0de !important;
}
.isrestricted strong {
    border-bottom: 1px solid #e04957 !important;
}
#adaptable-page-header-wrapper #main-navbar li .action-menu-trigger a:hover {
    color: #5cc0de;
}
#adaptable-page-header-wrapper #main-navbar li a:hover {
    background-color: #5cc0de;
    text-decoration: none;
}
.nav-link {
    white-space: nowrap;
}
.section li.modtype_forum div.activity-wrapper {
    -webkit-box-shadow: -3px 0 0 0 #980399;
    padding: 10px;
    border: 1px solid #980399 !important;
    border-radius: 10px;
}
.section li.modtype_assign div.activity-wrapper {
    -webkit-box-shadow: -3px 0 0 0 #0272bc;
    padding: 10px;
    border: 1px solid #0272bc !important;
    border-radius: 10px;
}
@media(max-width: 979px) {
    .page-header-margin.header-style1 #page {
        margin-top: 0;
    }
}
.block {
    border-top: 1px solid #bbb !important;
}
.sectionname {
    background-color: #0272bc !important;
    border-radius: 0;
}
.section .activity .contentwithoutlink>a, .section .activity .activityinstance>a {
    text-indent: 0px !important;
}
.section .activity .contentwithoutlink .dimmed .activityicon, .section .activity .activityinstance .dimmed .activityicon {
    opacity: 1 !important;
}
